
.row {
    width: auto;
    height: 100px;
}
.square {
    width: 100px;
    height: 100px;
    margin: 0px;
    outline: 1px solid;
    display: inline-block;
    float: left;
  
}

#table {
    width: 85%;
    height: 85%;
    text-align: center;
    

}


.button {
    background-color: transparent;
}

.square {
    background-image: url("../img/card-back.png");
    border:5px solid #000;
}





