<!DOCTYPE html>
<html lang="en" ng-app="PencilApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Pencil</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">


	<!-- load Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>	<!-- load our script -->
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
	<script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
	<script src="js/pencil.js"></script>
</head>
<body>

<body>
    <header>
        <nav>
            <ul id="menu" class="list-inline">
                <li><a href="index.html" aria-labl="return Home">
                <svg id= "pencili" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78 78"><path d="M71.807 6.19C64.592-1.024 59.177.06 59.177.06l-25.26 25.26L5.05 54.184 0 78l23.812-5.05 28.87-28.87 25.26-25.257s1.083-5.414-6.135-12.632zM22.395 70.087l-8.117 1.748c-.785-1.467-1.727-2.932-3.455-4.66-1.727-1.726-3.193-2.668-4.658-3.455l1.75-8.117 2.346-2.348s4.42.088 9.405 5.078c4.988 4.987 5.078 9.407 5.078 9.407l-2.348 2.346z"/></svg>
                </a></li>
                <li><a href="#features">features</a></li>
                <li><a href="#history">history</a></li>
                <li><a ui-sref="orders">order</a></li>
            </ul>

        </nav>
    </header>
    
    <!--main was here-->
	<div ui-view></div>

    <footer>

        <div class="container" id="foot">
            <a href="tel:206-555-1212"><i class="fa fa-phone" aria-hidden="true"></i></a>
            <a href="my.pencil.info@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <a href="https://twitter.com/search?q=%23pencil"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://wwww.facebook.com/search/top/?q=pencil"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <p>Icons made by
                <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
                <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </p>
        </div>
    </footer>

</body>

</html>