/* Your CSS rules go here */

/*all sections */





/*All headings */

#tagline {
    max-width: 75%;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif";
    font-weight: 200;
    padding: 3em;
}

#pencil{
    height: 1em;
    font-size: 1.5rem;
}

#menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    background-color: rgb(18,8,20);
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 16px;
    font-variant: small-caps;
    text-decoration: none;
}
nav:hover {
    text-decoration: none;
    color: #f08B06;
}


@media screen and (max-width: 768px) {
    #menu {
        background-color: rgba(18,18,20,0.8);
    }
    
}

@media screen and (max-width: 768px){
    header {
        background-image: url("file:///Users/loomisheston/Documents/INFO%20343/hw2/challenges/pencil/img/pencil-header-xs.jpg");
    }
    #tagline {
        font-size: 1.5rem;
    }
    .container#add{
        background-image: url("../img/colors-background-sm.jpg")
    }
    #panda{
        position: absolute;
        text-align: center;
    }

}

@media screen and (max-width: 992px) and (min-width: 768px){
    header {
        background-image: url("file:///Users/loomisheston/Documents/INFO%20343/hw2/challenges/pencil/img/pencil-header-sm.jpg");
    }
    #tagline {
        font-size: 1.5rem;
    }
    .container#add{
        background-image: url("../img/colors-background-md.jpg")
    }
    #history.h2{
        font-size: 3em;
    }
    #panda{
        position: absolute;
        text-align: center;
    }
    #creative{
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 1200) and (min-width: 992){
    header {
        background-image: url("file:///Users/loomisheston/Documents/INFO%20343/hw2/challenges/pencil/img/pencil-header-md.jpg");
    }
    #tagline {
        font-size: 1.5rem;
    }
    .container#add{
        background-image: url("../img/colors-background-md.jpg")
    }
    #history.h2{
        font-size: 3em;
    }
    #panda{
        text-align: left;
    }
    #creative{
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1200px){
    header {
        background-image: url("file:///Users/loomisheston/Documents/INFO%20343/hw2/challenges/pencil/img/pencil-header-lg.jpg");
    }
    #tagline {
        font-size: 1.5rem;
    }
    .container#add{
        background-image: url("../img/colors-background-lg.jpg")
    }
    #history.h2{
        font-size: 3em;
    }
    #panda{
        text-align: left;
    }
    #creative{
        font-size: 2.5rem;
    }
}

#test {
    background-color: #f1f2f5;
    font-size: 1.5rem;
    padding-bottom: 1em;
    font-style: italic;
}

#features{
    background-color: #e0deda;
    /*width:50px;*/

}

.row {
    width: 50px;
    fill: #5a3822;
}

#plight, #psharp, #perase, #pink{
    font-size: 14px;
}
/*
@media screen and (min-width:1200px){
    .container-fluid{
        
    }
}*/

#features.svg{
    width: 50px;
    fill: #5a3822;
}

#add.h1{
    font-size: 3em;
    width: 50%
}

#history{
    background: #f1f2f5;
}
#history.h2{
    font-size: 2em;
}
body {
    background-color: #f1f2f5;
    font-family: "Roboto, Helvetica Neue, Helvetica, Arial, sans-serif";
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0 0 0;
    
}

#WS {
    background-color: #e0deda;

}

#worktext{
    font-weight: 100;
}

.footer{
    background-color: #f1f2f5;
    border-top: 3px #583820;
}
#foot{
    font-size: 2em;
}