body {
    background-color: #f1f2f5;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Source Sans Pro, Helvetica Neue, Helvatica, Arial, sans-serif;
    font-weight: 200;
}

nav {
    position: absolute;
    left: 0px;
    top: 0px;
    right:0px;
    z-index: 1;
    background-color: rgb(18, 18, 20);
}

#menu {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;    
}

li a{
    font-size: 16px;
    color: white;
    font-variant: small-caps;
    text-decoration: none;
}

li a:focus, li a:hover {
    color: #f08B06;
    text-decoration: none;
}

#pencili {
    height: 1em;
    fill: white;
}

#pencili:hover, #pencili:focus {
    fill: #f08B06;
}

header {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("../img/pencil-header-xs.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

#pencil {
    font-size: 4rem;
}

#tagline {
    font-weight: 100;
    max-width: 50%;
}

q {
    display: block;
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 1em;
}

#features {
    background-color: #e0deda;
}

#ink, #eraser, #sharpener, #effect {
    font-size: 14px;
}

#ink svg, #eraser svg, #sharpener svg, #effect svg {
    width: 50px;
    fill: #5a3822;
}

#Adtext {
    font-size: 3rem;
    max-width: 50%;
}

#historyH, #potential {
    font-size: 2rem;
}

#workshop {
    background-color: #e0deda;
}

img {
    border-radius: 8px;
}

header, main, section, footer {
    padding-top: 3em;
    padding-bottom: 3em;
}

footer {
    border-top: 3px solid #583820;
    font-size: 12px;
}

#foot a {
    font-size: 2rem;
}

@media (min-width: 768px) and (max-width: 992px) {
    header {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("../img/pencil-header-sm.jpg");
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
    }

    nav{
        background-color: rgba(18, 18, 20, 0.8);
    }

    #tagline {
        font-size: 1.5rem;
    }

    #add {
        background-image: url("../img/colors-background-sm.jpg");
        background-repeat: no-repeat;
        background-position: center;
    } 

    #history1 {
        font-size: 3rem;
    }
    
    #workshop {
        text-align: left;
    }

    #potential {
        font-size: 2.5rem;
    }

    #foot {
        float: right;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    header {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("../img/pencil-header-md.jpg");
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
    }

    nav{
        background-color: rgba(18, 18, 20, 0.8);
    }

    #tagline {
        font-size: 1.5rem;
    }

    #add {
        background-image: url("../img/colors-background-md.jpg");
        background-repeat: no-repeat;
        background-position: center;
    } 

    #history1 {
        font-size: 3rem;
    }

    #workshop {
        text-align: left;
    }

    #potential {
        font-size: 2.5rem;
    }

    #foot {
        float: right;
    }
}

@media (min-width: 1200px) {
    header {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("../img/pencil-header-lg.jpg");
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
    }

    nav{
        background-color: rgba(18, 18, 20, 0.8);
    }

    #tagline {
        font-size: 1.5rem;
    }

    #add {
        background-image: url("../img/colors-background-lg.jpg");
        background-repeat: no-repeat;
        background-position: center;
    } 

    #history1 {
        font-size: 3rem
    }

    #workshop {
        text-align: left;
    }

    #potential {
        font-size: 2.5rem;
    }

    #foot {
        float: right;
    }
}